* {
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: block;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
/* ========= HEADER ======= */
content .main-content{
    height: 0px;
    display: flex;
}
.main-content .title{
    margin-top:50px;
    padding-top: 10px;
    font-weight: 600;
}
.form-inline .form-link{
    border: 2px solid red;
    display: block;
    padding: 5px ;
    
}
.form-inline .form-link:hover{
    text-decoration: none;
}
/* ========= /HEADER ======= */

